<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%green(%msg%n)</pattern>
    </encoder>
  </appender>

  <logger name="io.reqover" level="INFO" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
